<!DOCTYPE html>
<html lang="br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto VF</title>
    <link rel="stylesheet" href="style.css">
    {% endblock head %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>