{% extends 'layout.njk' %}

{% block content %}
    <div class="wrapper">
        <div class="img_container"></div>
        <section class="login">
            <form action="#">
                <div>Usuario</div>
                <input type="text">
                <div>Senha</div>
                <input type="password">
                <button>Login</button>
            </form>
        </section>
    </div>
{% endblock content %}